/* Ultra Thin + Soft Tone Scrollbar */
.cart-scroll::-webkit-scrollbar {
  width: 2px;
}

.cart-scroll::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 10px;
}

.cart-scroll::-webkit-scrollbar-thumb {
  background: #e3e3e3;
  border-radius: 10px;
}

.cart-scroll::-webkit-scrollbar-thumb:hover {
  background: #cfcfcf;
}

/* Firefox support */
.cart-scroll {
  scrollbar-width: thin;
  scrollbar-color: #e3e3e3 #fafafa;
}
